.item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}

.item.active {
    display: block;
}

.item .title {
    font-size: 12rem;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.item .fruit {
    width: 80%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

}

.item .char {
    z-index: 2;
    width: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    color: #fff;
    background: none;
    border: none;
    font-size: 4em;
    font-weight: bold;
    cursor: pointer;
    font-family: fantasy;
    z-index: 4;
}

#next:hover {
    color: rgb(5, 5, 4);
}

#prev:hover {
    color: rgb(5, 5, 4);
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

@keyframes toActiveArise {
    from {
        top: 100%;
        opacity: 0;
    }
}

@keyframes toActiveShow {
    from {
        opacity: 0;
    }
}

.item.active .title {
    animation: toActiveArise 0.7s ease-in-out 1;
}

.item.active img.fruit {
    animation: toActiveArise 0.9s ease-in-out 1;
}

.item.active .char {
    animation: toActiveShow 1s ease-in-out 1;
}

#amoraTitle{
    
    color: black;
}

#amoraChar{
    z-index: 9;
}
#amoraFruit{
    top: 60%;
    width: 60%;
}